<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post"
      th:action="@{/indexadmin/update/{id1}/{id2}(id1=${catId},id2=${product.proId})}"
      th:object="${product}">
    <label for="proName"> Name </label>
    <input type="text" th:field="*{proName}" id="proName" placeholder="Name">
    <label for="Description"> Description </label>
    <input type="text" th:field="*{Description}" id="Description" placeholder="Description">
    <label for="price"> Price </label>
    <input type="text" th:field="*{price}" id="price" placeholder="Price">
    <input type="submit" value="Update Product">
</form></body>
</html>